body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
#accordion{
	float:left;
}
#menu{
	float: right;
}
#tabs{
	float: left;

}
#escravo{
	text-decoration: none;
}
#Home{
	text-decoration: none;
}
#Indigenas{
	text-decoration: none;
}
label {
    display: inline-block;
    width: 5em;
  }